@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jakarta Sans';
  src: url('path/ke/font/JakartaSans-Regular.ttf') format('truetype');
  /* tambahkan format lainnya jika diperlukan, seperti woff, woff2, dll */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('path/ke/font/Poppins-Regular.ttf') format('truetype');
  /* tambahkan format lainnya jika diperlukan, seperti woff, woff2, dll */
  font-weight: normal;
  font-style: normal;
}
